<a href="/makepost"> <input type="submit" name="" value="Make a Post"></a>
<br>
<br>

<!-- <a href="/home"> <input type="submit" name="" value="Home"></a> -->



<%@blogs.all.reverse.each do |b| %>
 <div class="">Title: <%= b.title%> </div>
 <div class=""> Content: <%= b.content%> </div>
 <div class="">
   By: <a href="/selectuser/<%=b.user_id%>"><i><%= b.user.usersname%></i></a>
 </div>
 <hr style="width:70%; margin-right:30%;">
<% end %>
 <br>
 <a href="/logout"> <input type="submit" name="" value="logout"> </a>
