My Profile
<br>
<br>
<a href="/allblogs"> <input type="submit" name="" value="All Posts"></a>
<br>
<br>

<a href="/makepost"> <input type="submit" name="" value="Make a Post"></a>
<br>

<br>
<div class="">
  Usersname: <em><%= @user.usersname %></em>
</div>

<div class="">
  First Name: <em><%= @user.fname %></em>
</div>

<div class="">
  Last Name: <em><%= @user.lanme %></em>
</div>
